body {
    background-color:powderblue;
}
h1{
    color:gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;

}

p {

    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    
    
}
/* this is a borders and padding */
p1{

    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border:2px solid chocolate;
    padding: 20px;
    margin: 100px;
    
}

/* this is a id attribute */
#p01 {
    color: black;
}
#s {
    color:crimson;
}
/* this is class attribute */
p.error{
    color: darkgoldenrod;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
table th,td{
    border: 1px solid black ;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
    
}